body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h1 span {
  color: orange;
}
.container {
  display: flex;
  margin-bottom: 120px;
}
.header-content {
  width: 50%;
  padding-left: 2%;
}
.header-content img {
  width: 90%;
}
.hire-me_btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}
#header-area {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
#dream-big {
  background-image: url("images/dream-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
.experience-content {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin: 0 5% 0 5%;
  padding: 0 2%;
  border-radius: 8px;
}
#experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#baby {
  border-left: 7px solid blue;
}
#full {
  border-left: 7px solid tomato;
}
footer {
  text-align: center;
}
